In [1]:
import pandas as pd

In [2]:
# df = pd.read_excel('NSSE24 Data (UNT Challenge) Akula.xlsx')
import pandas as pd

df = pd.read_excel("Book2.xlsx", engine="openpyxl")
print(df.head())

  askquest CLaskhelp CLexplain CLstudy CLproject present RIintegrate  \
0        4         2         2       1         3       2           2
1        3         1         1       1         1       1           1
2        2         2         1       1         1       2           3
3        4         2         2       1         4       2           2
4        2         1         1       1         2       1           3

  RIsocietal RIdiverse RIownview  ...  ET    QI    SE   weight1   weight2  \
0          3         3         3  ...  56    55  37.5  1.651518  8.945122
1          2         3         3  ...  20        12.5  1.221099  6.613839
2          4         4         3  ...  48  57.5    40  1.136118  6.153558
3          2         1         2  ...  32        17.5  1.136118  6.153558
4          3         2         3  ...  40    50    25  1.136118  6.153558

  IRenrollment IRage   group1                          group4 CHALLENEID
0            0    47  COI-Oth  Applied Arts & Sciences-Online  100095475
1            1    40     CHPS                Criminal Justice  100094071
2            0    44    CLASS                      Psychology  100095478
3            0    54  COI-Oth  Applied Arts & Sciences-Online  100092491
4            0    58  COI-Oth             Information Science  100095480

[5 rows x 222 columns]

In [3]:
# Examine data types and identify numerical and categorical columns
print("Data Types:\n", df.dtypes)

Data Types:
 askquest        object
CLaskhelp       object
CLexplain       object
CLstudy         object
CLproject       object
                 ...
IRenrollment     int64
IRage            int64
group1          object
group4          object
CHALLENEID       int64
Length: 222, dtype: object

In [4]:
# Check for missing values
missing_values = df.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100
print("\nMissing Values Percentage:\n", missing_percentage)

Missing Values Percentage:
 askquest        0.0
CLaskhelp       0.0
CLexplain       0.0
CLstudy         0.0
CLproject       0.0
               ...
IRenrollment    0.0
IRage           0.0
group1          0.0
group4          0.0
CHALLENEID      0.0
Length: 222, dtype: float64

In [5]:
# columns with more than 1 missing value and their missing value percentages
missing_percentage = (df.isnull().sum() / len(df)) * 100
missing_columns = missing_percentage[missing_percentage > 1].index
print("\nColumns with More than 1 Missing Value and Their Missing Value Percentages:\n", missing_columns)

Columns with More than 1 Missing Value and Their Missing Value Percentages:
 Index([], dtype='object')

In [6]:
df.head()

,askquest,CLaskhelp,CLexplain,CLstudy,CLproject,present,RIintegrate,RIsocietal,RIdiverse,RIownview,...,ET,QI,SE,weight1,weight2,IRenrollment,IRage,group1,group4,CHALLENEID
0,4,2,2,1,3,2,2,3,3,3,...,56,55,37.5,1.651518,8.945122,0,47,COI-Oth,Applied Arts & Sciences-Online,100095475
1,3,1,1,1,1,1,1,2,3,3,...,20,,12.5,1.221099,6.613839,1,40,CHPS,Criminal Justice,100094071
2,2,2,1,1,1,2,3,4,4,3,...,48,57.5,40,1.136118,6.153558,0,44,CLASS,Psychology,100095478
3,4,2,2,1,4,2,2,2,1,2,...,32,,17.5,1.136118,6.153558,0,54,COI-Oth,Applied Arts & Sciences-Online,100092491
4,2,1,1,1,2,1,3,3,2,3,...,40,50,25,1.136118,6.153558,0,58,COI-Oth,Information Science,100095480

In [7]:
# Apply stripping and replace empty strings only on object columns
df = df.apply(lambda col: col.astype(str).str.strip().replace('', pd.NA) if col.dtype == 'object' else col)

# Convert numeric-like object columns back to proper numeric type
df = df.apply(lambda col: pd.to_numeric(col, errors='ignore') if col.dtype == 'object' else col)

print(df.dtypes)  # Verify column data types
print(df.head())   # Check if data is correctly retained

C:\Users\kjs\AppData\Local\Temp\ipykernel_29632\1071031310.py:5: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col, errors='ignore') if col.dtype == 'object' else col)

askquest        float64
CLaskhelp       float64
CLexplain       float64
CLstudy         float64
CLproject       float64
                 ...
IRenrollment      int64
IRage             int64
group1           object
group4           object
CHALLENEID        int64
Length: 222, dtype: object
   askquest  CLaskhelp  CLexplain  CLstudy  CLproject  present  RIintegrate  \
0       4.0        2.0        2.0      1.0        3.0      2.0          2.0
1       3.0        1.0        1.0      1.0        1.0      1.0          1.0
2       2.0        2.0        1.0      1.0        1.0      2.0          3.0
3       4.0        2.0        2.0      1.0        4.0      2.0          2.0
4       2.0        1.0        1.0      1.0        2.0      1.0          3.0

   RIsocietal  RIdiverse  RIownview  ...    ET    QI    SE   weight1  \
0         3.0        3.0        3.0  ...  56.0  55.0  37.5  1.651518
1         2.0        3.0        3.0  ...  20.0   NaN  12.5  1.221099
2         4.0        4.0        3.0  ...  48.0  57.5  40.0  1.136118
3         2.0        1.0        2.0  ...  32.0   NaN  17.5  1.136118
4         3.0        2.0        3.0  ...  40.0  50.0  25.0  1.136118

    weight2  IRenrollment  IRage   group1                          group4  \
0  8.945122             0     47  COI-Oth  Applied Arts & Sciences-Online
1  6.613839             1     40     CHPS                Criminal Justice
2  6.153558             0     44    CLASS                      Psychology
3  6.153558             0     54  COI-Oth  Applied Arts & Sciences-Online
4  6.153558             0     58  COI-Oth             Information Science

   CHALLENEID
0   100095475
1   100094071
2   100095478
3   100092491
4   100095480

[5 rows x 222 columns]

In [8]:
df.head()

,askquest,CLaskhelp,CLexplain,CLstudy,CLproject,present,RIintegrate,RIsocietal,RIdiverse,RIownview,...,ET,QI,SE,weight1,weight2,IRenrollment,IRage,group1,group4,CHALLENEID
0,4.0,2.0,2.0,1.0,3.0,2.0,2.0,3.0,3.0,3.0,...,56.0,55.0,37.5,1.651518,8.945122,0,47,COI-Oth,Applied Arts & Sciences-Online,100095475
1,3.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,3.0,3.0,...,20.0,NaN,12.5,1.221099,6.613839,1,40,CHPS,Criminal Justice,100094071
2,2.0,2.0,1.0,1.0,1.0,2.0,3.0,4.0,4.0,3.0,...,48.0,57.5,40.0,1.136118,6.153558,0,44,CLASS,Psychology,100095478
3,4.0,2.0,2.0,1.0,4.0,2.0,2.0,2.0,1.0,2.0,...,32.0,NaN,17.5,1.136118,6.153558,0,54,COI-Oth,Applied Arts & Sciences-Online,100092491
4,2.0,1.0,1.0,1.0,2.0,1.0,3.0,3.0,2.0,3.0,...,40.0,50.0,25.0,1.136118,6.153558,0,58,COI-Oth,Information Science,100095480

In [9]:
# Function to check if a column contains any string values (excluding NaN)
def check_string_columns(df):
    string_cols = []
    
    for col in df.columns:
        if df[col].dropna().apply(lambda x: isinstance(x, str)).any():
            string_cols.append(col)
    
    return string_cols

# Get list of columns with string values
string_columns = check_string_columns(df)

print("Columns that contain string values:", string_columns)

Columns that contain string values: ['MAJfirst', 'MAJsecond', 'gi_another_txt', 'so_another_txt', 'gr_another_txt', 'group1', 'group4']

In [10]:
# impute MAJfirst', 'MAJsecond', 'gi_another_txt', 'so_another_txt', 'gr_another_txt', 'group1', 'group4', gi_another_txt, so_another_txt with mode
df['MAJfirst'] = df['MAJfirst'].fillna(df['MAJfirst'].mode()[0])
df['MAJsecond'] = df['MAJsecond'].fillna(df['MAJsecond'].mode()[0])
df['gr_another_txt'] = df['gr_another_txt'].fillna(df['gr_another_txt'].mode()[0])
df['group1'] = df['group1'].fillna(df['group1'].mode()[0])
df['group4'] = df['group4'].fillna(df['group4'].mode()[0])
df['gi_another_txt'] = df['gi_another_txt'].fillna(df['gi_another_txt'].mode()[0])
df['so_another_txt'] = df['so_another_txt'].fillna(df['so_another_txt'].mode()[0])

In [11]:
# impute NaN with median of all columns except MAJfirst', 'MAJsecond', 'gi_another_txt', 'so_another_txt', 'gr_another_txt', 'group1', 'group4'
df = df.apply(lambda col: col.fillna(col.median()) if col.name not in ['MAJfirst', 'MAJsecond', 'gi_another_txt', 'so_another_txt', 'gr_another_txt', 'group1', 'group4'] else col)

In [12]:
# print dtypes of all columns
print(df.dtypes)

askquest        float64
CLaskhelp       float64
CLexplain       float64
CLstudy         float64
CLproject       float64
                 ...
IRenrollment      int64
IRage             int64
group1           object
group4           object
CHALLENEID        int64
Length: 222, dtype: object

In [13]:
#print columns with object type
print(df.select_dtypes(include=['object']).columns)

Index(['MAJfirst', 'MAJsecond', 'gi_another_txt', 'so_another_txt',
       'gr_another_txt', 'group1', 'group4'],
      dtype='object')

In [14]:
#number of columns in df that are objects type 
print(len(df.select_dtypes(include=['int']).columns))

7

In [15]:
df.head()

,askquest,CLaskhelp,CLexplain,CLstudy,CLproject,present,RIintegrate,RIsocietal,RIdiverse,RIownview,...,ET,QI,SE,weight1,weight2,IRenrollment,IRage,group1,group4,CHALLENEID
0,4.0,2.0,2.0,1.0,3.0,2.0,2.0,3.0,3.0,3.0,...,56.0,55.0,37.5,1.651518,8.945122,0,47,COI-Oth,Applied Arts & Sciences-Online,100095475
1,3.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,3.0,3.0,...,20.0,42.5,12.5,1.221099,6.613839,1,40,CHPS,Criminal Justice,100094071
2,2.0,2.0,1.0,1.0,1.0,2.0,3.0,4.0,4.0,3.0,...,48.0,57.5,40.0,1.136118,6.153558,0,44,CLASS,Psychology,100095478
3,4.0,2.0,2.0,1.0,4.0,2.0,2.0,2.0,1.0,2.0,...,32.0,42.5,17.5,1.136118,6.153558,0,54,COI-Oth,Applied Arts & Sciences-Online,100092491
4,2.0,1.0,1.0,1.0,2.0,1.0,3.0,3.0,2.0,3.0,...,40.0,50.0,25.0,1.136118,6.153558,0,58,COI-Oth,Information Science,100095480

In [16]:
!pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\users\kjs\appdata\roaming\python\python312\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\kjs\appdata\roaming\python\python312\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\kjs\appdata\roaming\python\python312\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\kjs\appdata\roaming\python\python312\site-packages (from seaborn) (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kjs\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\kjs\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kjs\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\kjs\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\kjs\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\kjs\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\kjs\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kjs\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kjs\appdata\roaming\python\python312\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kjs\appdata\roaming\python\python312\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\kjs\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [17]:
# plot correlation matrux for numerical columns exclude 'MAJfirst', 'MAJsecond', 'gi_another_txt', 'so_another_txt','gr_another_txt', 'group1', 'group4'
corr_matrix = df.select_dtypes(include=['int', 'float']).corr()
print(corr_matrix)

              askquest  CLaskhelp  CLexplain   CLstudy  CLproject   present  \
askquest      1.000000   0.248292   0.360753  0.276907   0.264621  0.280782
CLaskhelp     0.248292   1.000000   0.509254  0.536344   0.387792  0.245398
CLexplain     0.360753   0.509254   1.000000  0.488251   0.411602  0.326331
CLstudy       0.276907   0.536344   0.488251  1.000000   0.469191  0.260264
CLproject     0.264621   0.387792   0.411602  0.469191   1.000000  0.445610
...                ...        ...        ...       ...        ...       ...
weight1      -0.000553  -0.045313  -0.020175 -0.012618  -0.008309 -0.041277
weight2       0.046956  -0.034108   0.006213  0.004340   0.068736  0.071335
IRenrollment -0.064652   0.049430   0.053571  0.045211  -0.022751 -0.026383
IRage         0.148767  -0.093109  -0.054398 -0.078660   0.032373  0.085934
CHALLENEID   -0.097005  -0.023815  -0.041995 -0.036808  -0.138317 -0.208212

              RIintegrate  RIsocietal  RIdiverse  RIownview  ...        DD  \
askquest         0.308018    0.332822   0.310573   0.326537  ...  0.244761
CLaskhelp        0.250951    0.184009   0.117391   0.189158  ...  0.178071
CLexplain        0.368274    0.270062   0.233115   0.273961  ...  0.272213
CLstudy          0.289581    0.210107   0.176203   0.214556  ...  0.197294
CLproject        0.343698    0.234299   0.185795   0.237560  ...  0.224416
...                   ...         ...        ...        ...  ...       ...
weight1         -0.029403   -0.116126  -0.129986  -0.015739  ... -0.032968
weight2          0.036156   -0.081269  -0.120281  -0.004182  ... -0.011593
IRenrollment     0.004676    0.000505   0.016426  -0.007663  ...  0.009090
IRage            0.014781    0.007234  -0.033515   0.004803  ...  0.008958
CHALLENEID      -0.139380   -0.057847   0.001715  -0.040345  ... -0.041634

                    SF        ET        QI        SE   weight1   weight2  \
askquest      0.327820  0.245584  0.147373  0.182162 -0.000553  0.046956
CLaskhelp     0.329452  0.099956  0.078054  0.146908 -0.045313 -0.034108
CLexplain     0.359327  0.152207  0.066822  0.162195 -0.020175  0.006213
CLstudy       0.396107  0.165921  0.119621  0.201427 -0.012618  0.004340
CLproject     0.336722  0.186552  0.109856  0.162035 -0.008309  0.068736
...                ...       ...       ...       ...       ...       ...
weight1       0.020135  0.003387  0.009334 -0.067092  1.000000  0.934919
weight2       0.047675  0.004233  0.002237 -0.094439  0.934919  1.000000
IRenrollment  0.034388  0.005047 -0.017591  0.046854 -0.486990 -0.578321
IRage        -0.046753 -0.004819  0.030158 -0.087681  0.214568  0.389368
CHALLENEID   -0.043496  0.004967  0.008194  0.043726  0.019395 -0.206341

              IRenrollment     IRage  CHALLENEID
askquest         -0.064652  0.148767   -0.097005
CLaskhelp         0.049430 -0.093109   -0.023815
CLexplain         0.053571 -0.054398   -0.041995
CLstudy           0.045211 -0.078660   -0.036808
CLproject        -0.022751  0.032373   -0.138317
...                    ...       ...         ...
weight1          -0.486990  0.214568    0.019395
weight2          -0.578321  0.389368   -0.206341
IRenrollment      1.000000 -0.474485    0.187811
IRage            -0.474485  1.000000   -0.345833
CHALLENEID        0.187811 -0.345833    1.000000

[215 rows x 215 columns]

In [18]:
#save corr matrix to csv
# corr_matrix.to_csv('corr_matrix.csv')